<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
    <title>Guest Search Page</title>

<!-- Bootstrap core CSS -->
<link href="bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template
    <link href="heroes.css" rel="stylesheet"> -->
  </head>
  <body>
<main>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="UserPage" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><strong>Guest Search<strong></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index" class="nav-link active" style="font-weight:normal">Back</a></li>
      </ul>
    </header>
  </div>
<body  style="background-color:rgb(255, 255, 255);">
</body>

<center>
<form id="form"> 
  <input type="search" id="query" name="book" placeholder="Search books" style="position: relative; left:0px; top:200px; width:500px; height:30px;">
</form>

<button id="Mbutton" onclick="location.href = window.location.href = '/GuestSearch?bookName=' + document.getElementById('query').value;" style="position: relative; left:300px; top:170px; height:30px; background-color: bisque;">
  <strong>Search</strong>
</button>
</center>


<table>
             <tr>
             <table align = "center border" border="5px" style = "position: relative; top: 200px; width:850px; background-color:powderblue; line-height:20px; line-width: 60px; margin-left:auto;margin-right:auto;" >
              <th style="color:black;font-size:20px; border:  solid;">Book ID</th>
             <th style="color:black;font-size:20px; border:  solid;">Name</th>
             <th style="color:black;font-size:20px;border:  solid;">Description</th>
             <th style="color:black;font-size:20px;border:  solid;">Edition</th>
             <th style="color:black;font-size:20px;border: solid;">Category</th>
             <th style="color:black;font-size:20px;border:  solid;">Book's Author</th>
             <th style="color:black;font-size:20px;border: solid;">Book's Publisher</th>
             <th style="color:black;font-size:20px;border:  solid;">Library's Section Name</th>
            </tr>

        <tr th:each="book:${books}">
          <td style="width: 100px;color:black;font-size:15px; text-align: center;  border: solid; font-weight:normal"><label th:text="${book.BookID}" ></label></td>
            <td style="width: 100px;color:black;font-size:15px; text-align: center;  border: solid; font-weight:normal"><label th:text="${book.Name}" ></label></td>
            <td style="color:black;font-size:15px; text-align: center; border: solid; font-weight:normal"><label th:text="${book.Description}" ></label></td>
            <td style="color:black;font-size:15px; text-align: center; border: solid; font-weight:normal"><label th:text="${book.Year}" ></label></td>
            <td style="color:black;font-size:15px; text-align: center; border: solid; font-weight:normal"><label th:text="${book.Category}" ></label></td>
            <td style="color:black;font-size:15px; text-align: center; border: solid; font-weight:normal"><label th:text="${book.Author}" ></label></td>
            <td style="width: 150px; color:black;font-size:15px; text-align: center; border: solid; font-weight:normal"><label th:text="${book.Publisher}" ></label></td>
            <td style="width: 150px;color:black;font-size:15px; text-align: center; border:  solid; font-weight:normal"><label th:text="${book.SectionName}" ></label></td>
        </tr> 
</tr>

</table>
  </DIV>
</main>


</html>