<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
    <title>Guest Search Page</title>

<!-- Bootstrap core CSS -->
<link href="bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template
    <link href="heroes.css" rel="stylesheet"> -->
  </head>
  <body>
<main>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="search" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><strong>Guest Search <label th:text="${name}"></label></strong></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index" class="nav-link active">Back</a></li>
      </ul>
    </header>
  </div>
<body  style="background-color:rgb(255, 255, 255);">
</body>

<center>
<form id="form"> 
  <input type="search" id="query" name="book" placeholder="Search books" style="position: relative; left:0px; top:200px; width:500px; height:30px;">
</form>

<button id="Mbutton" onclick="location.href = window.location.href = '/GuestSearch?bookName=' + document.getElementById('query').value;" style="position: relative; left:300px; top:170px; height:30px; background-color: bisque;">
  <strong>Search</strong>
</button>
</center>

</main>


</html>