<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
    <title>Staff Page</title>

<!-- Bootstrap core CSS -->
<link href="bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template
    <link href="heroes.css" rel="stylesheet"> -->
  </head>
  <body>
<main>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><strong>Staff Page</strong></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="AddBook" class="nav-link " aria-current="page">Add Book</a></li>
        <li class="nav-item"><a href="DeleteBook" class="nav-link">Delete Book</a></li>
        <li class="nav-item"><a href="ModifyUser" class="nav-link">Modify User Info</a></li>
        <li class="nav-item"><a href="DeleteBorrow" class="nav-link">Return Book</a></li>
        <li class="nav-item"><a href="AdminInfo" class="nav-link">Staff Information</a></li>
        <li class="nav-item"><a href="homepage" onclick ='loadmessage()' class="nav-link">Logout</a></li>
      </ul>
    </header>
  </div>
<body  style="background-color:rgba(42, 185, 196, 0.616);">
</body>

    <script>
function loadmessage() {
    alert('Logout Successful');
}
</script>


<form id="form"> 
  <label style="position: absolute; left:400px; top:100px;">ISBN:<br></label>
  <input type="text" id="isbn" name="ISBN" placeholder="ISBN" style="position: absolute; left:400px; top:120px; width:500px; height:30px;">
  <br>
  <label style="position: absolute; left:400px; top:170px;">Book Name:<br></label>
  <input type="text" id="bName" name="BookName" placeholder="Book Name" style="position: absolute; left:400px; top:190px; width:500px; height:30px;">
  <br>
  <label style="position: absolute; left:400px; top:240px;">Category:<br></label>
  <select name="Category" id="category" style="position: absolute; left:400px; top:265px; width:500px; height:30px;">
    <option value="Fiction">Fiction</option>
    <option value="Biography">Biography</option>
    <option value="Classics">Classics</option>
    <option value="Action and Adventure">Action and Adventure</option>
    <option value="Science">Science</option>
    <option value="History">History</option>
    <option value="Magazine">Magazine</option>
    <option value="Else">Else</option>
  </select>
  <br>
  <label style="position: absolute; left:400px; top:310px;">Year:<br></label>
  <input type="text" id="year" name="Year" placeholder="Year" style="position: absolute; left:400px; top:330px; width:500px; height:30px;">
  <br>
  <label style="position: absolute; left:400px; top:380px;">Author:<br></label>
  <select name="Author" id="author" style="position: absolute; left:400px; top:405px; width:500px; height:30px;">
    <option value="Douglas L">Douglas L</option>
    <option value="James C">James C</option>
    <option value="Kevin L">Kevin L</option>
  </select>
  <br>
  <label style="position: absolute; left:400px; top:450px;">Publisher:<br></label>
  <select name="Publisher" id="publisher" style="position: absolute; left:400px; top:475px; width:500px; height:30px;">
    <option value="CalgBOOK House">CalgBOOK House</option>
    <option value="ChinookBOOK House">ChinookBOOK House</option>
    <option value="UniverseBOOK House">UniverseBOOK House</option>
  </select>
  <br>
  <label style="position: absolute; left:400px; top:520px;">Section:<br></label>
  <select name="Section" id="section" style="position: absolute; left:400px; top:545px; width:500px; height:30px;">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
    <option value="H">H</option>
    <option value="I">I</option>
    <option value="J">J</option>
    <option value="K">K</option>
  </select>
  <br>
  <label style="position: absolute; left:400px; top:590px;">Location:<br></label>
  <select name="Location" id="location" style="position: absolute; left:400px; top:615px; width:500px; height:30px;">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <br>
  <label style="position: absolute; left:400px; top:660px;">Description:<br></label>
  <textarea cols="50" rows="10" type="text" id="description" name="Description" style="position: absolute; left:400px; top:680px; width:500px;">Please Enter the Description here...</textarea>
</form>



<button onclick="location.href = window.location.href = '/AddB?a=' + document.getElementById('isbn').value + '&b='+document.getElementById('bName').value + '&c='+document.getElementById('category').value + '&d='+document.getElementById('year').value + '&e='+document.getElementById('author').value + '&f='+document.getElementById('publisher').value + '&g='+document.getElementById('section').value + '&h='+document.getElementById('location').value + '&i='+document.getElementById('description').value;" style="position: absolute; left:600px; top:980px; height:30px; background-color: bisque;">
  <strong>Confirm</strong>
</button>


</html>