<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
    <title>Staff Page</title>

<!-- Bootstrap core CSS -->
<link href="bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template
    <link href="heroes.css" rel="stylesheet"> -->
  </head>
  <body>
<main>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="admin" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4"><strong>Staff Page</strong></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="AddBook" class="nav-link " aria-current="page">Add Book</a></li>
        <li class="nav-item"><a href="DeleteBook" class="nav-link">Delete Book</a></li>
        <li class="nav-item"><a href="ModifyUser" class="nav-link">Modify User Info</a></li>
        <li class="nav-item"><a href="DeleteBorrow" class="nav-link">Return Book</a></li>
        <li class="nav-item"><a href="AdminInfo" class="nav-link">Staff Information</a></li>
        <li class="nav-item"><a href="homepage" onclick ='loadmessage()' class="nav-link">Logout</a></li>
      </ul>
    </header>
  </div>
<body  style="background-color:rgba(42, 185, 196, 0.616);">
</body>

    <script>
function loadmessage() {
    alert('Logout Successful');
}
</script>

<label style="color:black; font-size:40px; position:absolute; left:460px; top:100px">Modify User Information</label></br>

<form if="explain">
  <label style="position: absolute; left:250px; top:230px;">ATTENTION TO STAFFS: If the Address or PhoneNumber or Birth Remains UNCHANGED, input "*"; If the balance Remains UNCHANGED, input "-1".<br></label>
</form>

<form id="form"> 
  <label style="position: absolute; left:400px; top:300px;">User Name:<br></label>
  <input type="text" id="name" name="Name" placeholder="Enter the User's Name" style="position: absolute; left:400px; top:320px; width:500px; height:30px;">
  <br>  
  <label style="position: absolute; left:400px; top:370px;">Address:<br></label>
  <input type="text" id="address" name="Address" placeholder="Enter a new address" style="position: absolute; left:400px; top:390px; width:500px; height:30px;">
  <br>
  <label style="position: absolute; left:400px; top:440px;">PhoneNumber:<br></label>
  <input type="text" id="phone" name="Phone" placeholder="Enter a new phone number" style="position: absolute; left:400px; top:460px; width:500px; height:30px;">
  <br>
  <label style="position: absolute; left:400px; top:510px;">Date of Birth:<br></label>
  <input type="text" id="birth" name="Birth" placeholder="Enter a new date of birth" style="position: absolute; left:400px; top:530px; width:500px; height:30px;">
  <br>
  <label style="position: absolute; left:400px; top: 580px;">Balance:<br></label>
  <input type="text" id="balance" name="Balance" placeholder="Enter a new balance" style="position: absolute; left:400px; top:600px; width:500px; height:30px;">
  <br>
</form>

<button onclick="location.href = window.location.href = '/ModifyU?a=' + document.getElementById('address').value + '&b='+document.getElementById('phone').value + '&c='+document.getElementById('birth').value + '&d='+document.getElementById('balance').value + '&e='+document.getElementById('name').value;" style="position: absolute; left:600px; top:670px; height:30px; background-color: bisque;">
  <strong>Confirm</strong>
</button>


</html>
