<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/heroes/">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <style>
body {
                background: #F7F7F7;
            }
.form {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -80px;
                margin-top: -100px;
                height: 100px;
                width: 0px;
                font-size: 24px;
                border:10px solid grey
                webkit-box-shadow 100px 1px 10px #A6A6A6;
                background :#fff;
            }


    </style>
</head>
<main>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="./" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-4">Library Management System</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="./homepage" class="nav-link active" aria-current="page">Home</a></li>
          </ul>
        </header>
      </div>

<div class="form">
    <p>Username:</p>
    <form action="" method="post">
        <input type="text" id="username" style="width:200px;height:30px;font-size:15px;border:1px solid #808080;border-radius: 4px" >
    </form>
</br>
    <p>Password:</p>
    <form action="" method="post">
        <input type="password" id="password" style="width:200px;height:30px;font:10pt; font-size:15px; border:1px solid #808080;border-radius: 4px">
        <i class="far fa-eye" id="togglePassword" style="position:realtive; top:0px; left:0px"></i>
    </form>

    <div class="navbar_item">
        <div class="buttons">
            <button type="button" id="MyButton" class="btn btn-primary btn-info" style="position:relative; top:20px; padding:0px 30px" width= 200 onclick="location.href ='/usignin?ab='+document.getElementById('username').value+'&cd='+document.getElementById('password').value;">Sign In</button>
        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#password');
 
  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
    </script>


 
</div>
</body>
</main>
</html>